<div id="hotel" style="text-align: left">
    <h1> Animals</h1>
    <h2> Recherche</h2>
    <div id="error" class="alert alert-danger" role="alert" *ngIf="duplicateError">
      Insertion sur une cle primaire qui existe deja
    </div>
      <ul style="list-style: none;">
        Entrer un nom d'animal: <li><input class="form-control col-md-4" #nom></li>
        <li><button type="button" class="btn btn-primary" (click)="getSearchedAnimals(nom.value)"> Search</button></li>
      </ul>

      <table id ="ht" align="center" border="1" width="350">
          <thead>
            <th> ANIMAL</th>
            <th> ANIMALID</th>
            <th> CLINIQUEID</th>
            <th> TYPE</th>
            <th> DESCRIPTION</th>
            <th> DOB</th>
            <th> ÉTAT</th>
            <th> PROPID</th>
            <th> DATE D'INSCRIPTION</th>
          </thead>
          <tbody>
            <tr *ngFor="let animal of animals">
              <td> {{animal.nom}}</td>
              <td> {{animal.noAnimal}} </td>
              <td> {{animal.noAnimal}} </td>
              <td> {{animal.type}}</td>
              <td> {{animal.description}} </td>
              <td> {{animal.DOB}} </td>
              <td> {{animal.etat}}</td>
              <td> {{animal.noProp}} </td>
              <td> {{animal.dateInscription}}</td>
            </tr>
          </tbody>
        </table>
     
    </div>
